<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_authenticate.css') }}">
    <title>Choose Info option</title>
</head>

<body>
    <div class="container">
        <h1>Choose Information Option</h1>
        <form action="{{ url_for('choose_data') }}" method="post">
            <button name="data_option" value="use_previous">Use Previous Data</button>
            <br><br>
            <button name="data_option" value="fill_new">Fill New Information</button>
        </form>
    </div>
</body>

</html>
