<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_quiz.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
           
        </div>
        <div class="main-content">
            <div class="question-section">
               <div>
                    <span id="question-number">Question:</span> <span id="question-text">{{ question }}</span>
                </div>

                <h2 class="answer-heading">Your Answer:</h2>
                    <div class="answer-choice">Option {{ selected_option }}: {{selected_option_text}}</div>
                <h2 class="answer-heading">Correct Answer:</h2>
                    <div class="answer-choice">Option {{ correct_option }}: {{correct_option_text}}</div>
            </div>
            <br>
            <div class="button-section">
                <a href="{{ url_for('start_quiz', section=section, question_number=question_number+1) }}" class="quiz-link">
                    <button class="quiz-btn" type="button">Next Question</button>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
